<a href="#" class="saveComposition">
	<div class="name">{{ _name }}</div>
	<span class="bpm">{{ _bpm }}</span>
	<span class="duration">{{ _durationText.a }}:{{ _durationText.b }}.{{ _durationText.c }}</span>
</a>
