<a href="#" class="saveComposition">
	<div class="name">{{ name }}</div>
	<span class="bpm">{{ bpm }}</span>
	<span class="duration">{{ durationText.a }}:{{ durationText.b }}.{{ durationText.c }}</span>
</a>
